name: bartek

on: [push]

jobs:
  build:
    name: build
    runs-on: [self-hosted]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      
      - name: Check signature
        run: |
          git verify-commit HEAD
      
      - name: Package extension
        run: |
          #dt ext build --extension-directory . --target-directory /tmp/build
          zip extension src

      - name: Sign
        run: |
          echo "now connecting to signing service and signing the extension"
          java -jar ~/client-signing.jar -a SIGNATURE -d SHA1 --download . -tp bartek -tv 0.0.1 extension.zip -h sign-service-dev.apps.lab.dynatrace.org -u x -p x
      
      - name: Deploy artifact
        uses: actions/upload-artifact@v3.1.0
        with:
          name: "extension.zip"
          path: "extension.zip"
          
